html, body {
   font-family: Georgia,Helvetica,sans-serif;
   background-size: 100vw 100vh;
   background-attachment: fixed;
}

img {
   width: 15em;
   height: 20em;
   float: left;
}

p {
   font-style: italic;
   font-weight: bold;
}

a,u {
   color: yellow;
}
