html, body {
   margin:0;
   padding:0;
   height:100%;
   width: 100%;
   font-family: Georgia,Helvetica,sans-serif;
   background-size: 100vw 100vh;
   background-attachment: fixed;
}

img {
   width: 15em;
   height: 20em;
   float: left;
}

p {
   font-style: italic;
   color: linen; 
}

a {
   color: yellow;
}
